In [136]:
import pandas as pd

In [137]:
orders = pd.read_csv('orders.csv');

In [138]:
prices = orders['Item Total'];

In [139]:
f = lambda x: float(x[1:])

In [140]:
orders['Item Total']=orders['Item Total'].apply(f)

In [141]:
orders['Item Total'].sum()

4872.8500000000004

In [142]:
types = orders['Category']

In [143]:
types.describe()

count           201
unique           21
top       Paperback
freq             74
Name: Category, dtype: object

In [144]:
# how many books have I bought?
counts = {}
counts['Books'] = 0 
for item in types:
    if item == "Paperback" or item == "Hardcover":
        counts['Books']+=1
    if item in counts.keys():
        counts[item] += 1
    else:
        counts[item] = 1

In [145]:
counts

{nan: 16,
 'Apparel': 7,
 'Audio CD': 1,
 'Books': 102,
 'DVD': 11,
 'Ecard Gift Certificate': 2,
 'Electronics': 11,
 'Hardcover': 28,
 'Health and Beauty': 26,
 'Home': 1,
 'Kitchen': 11,
 'Magazine': 1,
 'Misc.': 3,
 'Office Product': 3,
 'Paperback': 74,
 'Personal Computers': 7,
 'Sports': 5,
 'Tools & Hardware': 1,
 'Tools & Home Improvement': 1,
 'Toy': 2,
 'Vinyl Bound': 1,
 'Watch': 1,
 'Wireless Phone Accessory': 4}

In [146]:
# how much have I spent in each catagory?
# what is the most expensive catagory?
# what month do I buy the most?
# what was my most expensive order?
# cheapest order?
# average order?
# what are my monthly purchases each month

In [147]:
orders['Item Total'].min()

0.01

In [134]:
dates = orders['Order Date']

In [135]:
dates

0      01/22/11
1      02/19/11
2      03/23/11
3      06/10/11
4      06/22/11
5      09/02/11
6      09/02/11
7      10/14/11
8      10/14/11
9      11/04/11
10     11/04/11
11     11/04/11
12     11/23/11
13     11/23/11
14     12/05/11
15     12/05/11
16     12/05/11
17     12/05/11
18     12/30/11
19     12/30/11
20     01/10/12
21     01/10/12
22     01/13/12
23     01/20/12
24     01/20/12
25     01/20/12
26     01/20/12
27     01/29/12
28     02/07/12
29     02/28/12
         ...
187    08/09/16
188    09/02/16
189    09/02/16
190    09/04/16
191    09/06/16
192    09/26/16
193    10/20/16
194    10/20/16
195    11/07/16
196    11/17/16
197    11/28/16
198    12/14/16
199    12/22/16
200    01/02/17
201    01/02/17
202    01/02/17
203    01/16/17
204    01/26/17
205    02/01/17
206    02/01/17
207    02/02/17
208    02/09/17
209    02/16/17
210    02/17/17
211    02/17/17
212    02/20/17
213    02/28/17
214    03/06/17
215    03/07/17
216    03/09/17
Name: Order Date, dtype: object